doctype html
html
	head
		title <Luis Vilches/>
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css')
	body
		div.container
			div.row
				div.col-md-offset-4.col-md-4
					h2 DashBoard