doctype html
html
	head
		title <Luis Vilches/>
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css')
		link(href='../css/style.css' rel='stylesheet' type='text/css')
	body
		.container-fluid.max-page
			.row
				.col-md-12
					nav.navbar.navbar-light.nav-color
						.container-fluid
							.navbar-header
								button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#mobile', aria-expanded='false')
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a#logo.navbar-brand(href='')  < Luis Vilches /> 
							#mobile.collapse.navbar-collapse
								ul.nav.navbar-nav.navbar-right
									li
										a#m1(href='') Portafolio
									li
										a#m2(href='') Perfil
									li
										a#m3(href='') Contacto
			.row