//- layout.jade
doctype html
html
  head
    block title
      title <Luis Vilches/>
      meta(charset=utf-8)
      meta( name=description content="Luis Vilches")
      meta( name=description content="Portafolios Luis Vilches")
      meta( name="keywords" content="Portafolios Luis Vilches")
      meta( name="Author" lang="es" content="Luis Vilches Abarca")
      meta( property="og:type" content="website")
      meta( property="og:title" content="Portafolios Luis Vilches")
      meta( property="og:description" content="Portafolios Luis Vilches")
      meta(property="og:url" content="http://luisvilches.herokuapp.com")
      meta( property="og:site_name" content="Portafolios Luis Vilches")
      meta( property="og:locale" content="es_ES")

      meta(meta name="viewport" content="width=device-width, initial-scale=1.0")

      link(rel="stylesheet" type="text/css" href="./css/bootstrap.css")
      link(<link rel="stylesheet" type="text/css" href="./css/style.css")
      link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css')
      link(rel="stylesheet" type="text/css" href="./css/font-awesome.min.css")
      link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')
  body
    script(src="./js/jquery-2.1.1.min.js" type="text/javascript")
    script(src="./js/bootstrap.js" type="text/javascript")
    script(src="./js/function.js" type="text/javascript")
    block content